<form role="form" ng-submit="save()" data-plugin="{{ form.name }}">
							<fieldset id="tab-{{ group }}" ng-repeat="group in groupedFields.groups" ng-if="group != 'System'">
								<legend>{{ group }}</legend>
								<div class="row">
									<div class="form-group col-md-6" ng-repeat="field in groupedFields.data[group]" data-field-name="{{ field.name }}" ng-if="FormService.fieldFunctions.needToShow(this, field)">
										<label>
											{{ field.title }}
											<span ng-if="field.required" style="color: red;">*</span>
										</label>
										<div ng-include src="MetaPluginService.getInclude(field)" ng-if="['experience_obj', 'languages_obj'].indexOf(field.name) == -1"></div>

										<div ng-if="field.name == 'experience_obj'">
											<table class="table table-bordered table-condensed">
												<thead>
													<tr>
														<th>Radno mjesto</th>
														<th>Poslodavac</th>
														<th>Razdoblje od (m/y) - do (m/y)</th>
														<th></th>
													</tr>
												</thead>

												<tfoot>
													<tr>
														<td colspan="4">
															<button type="button" ng-click="add_experience_obj()" class="btn btn-primary" style="float: right; padding-bottom: 3px;" ng-if="experience_obj.length < 3"><i class="fa fa-plus-circle"></i> Dodaj</button>
														</td>
													</tr>
												</tfoot>

												<tbody>
													<tr ng-repeat="experience in experience_obj">
														<th><input type="text" ng-model="experience.position" class="form-control" required /></th>
														<th><input type="text" ng-model="experience.employer" class="form-control" required /></th>
														<th><input type="text" ng-model="experience.dates" class="form-control" required lms-input-mask="m/y - m/y" /></th>
														<th><button type="button" ng-click="remove_experience_obj($index)" class="btn"><i class="fa fa-minus-circle"></i></button></th>
													</tr>
												</tbody>
											</table>
										</div>


										<div ng-if="field.name == 'languages_obj'">
											<table class="table table-bordered table-condensed">
												<thead>
													<tr>
														<th>Strani jezik</th>
														<th>Konverzacija</th>
														<th>Pismo</th>
														<th></th>
													</tr>
												</thead>

												<tfoot>
													<tr>
														<td colspan="4"><button type="button" ng-click="add_languages_obj()" class="btn btn-primary" style="float: right; padding-bottom: 3px;"><i class="fa fa-plus-circle"></i> Dodaj</button></td>
													</tr>
												</tfoot>

												<tbody>
													<tr ng-repeat="language in languages_obj">
														<th>
															<select ng-if="!language.other" ng-model="language.language" class="form-control" ng-change="onLanguageChange(language)" required>
																<option>Engleski</option>
																<option>Njemački</option>
																<option>Talijanski</option>
																<option>Ruski</option>
																<option value="-1">ostalo (navedite)</option>
															</select>
															<input type="text" ng-if="language.other" ng-model="language.language" class="form-control" required />
														</th>
														<th>
															<select ng-model="language.speaking" class="form-control" required>
																<option>Osnovno</option>
																<option>Dobro</option>
																<option>Napredno</option>
															</select>
														</th>
														<th>
															<select ng-model="language.writing" class="form-control" required>
																<option>Osnovno</option>
																<option>Dobro</option>
																<option>Napredno</option>
															</select>
														</th>
														<th><button type="button" ng-click="remove_languages_obj($index)" class="btn"><i class="fa fa-minus-circle"></i></button></th>
													</tr>
												</tbody>
											</table>
										</div>

										<span class="help-block" ng-bind-html="field.description"></span>
									</div>
								</div>
							</fieldset>

							<input type="submit" class="btn btn-primary btn-lg pull-right" value="{{ 'Pošalji' | i18n }}" />
						</form>
